@import '../node_modules/scss-reset/src/scss/_reset.scss';

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
}


ol,
ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

input,
textarea {
    padding: 8px 15px;
    border: 1px solid rgba(40, 40, 70, 0.1);
    border-radius: 8px;
    width: 100%;

    &.empty {
        border-color: #F05454;
    }

    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: none;

        &:not([readOnly]):not([type='color']) {
            border-color: rgba(40, 40, 70, 0.5);
        }
    }

    &[readOnly] {
        cursor: pointer;
        user-select: none;

        &::selection {
            background: transparent;
        }

        &::-moz-selection {
            background: transparent;
        }
    }

    &[type='color'] {
        border-radius: 0;
        width: 100px;
        padding: 0;
        cursor: pointer;
    }
}

.inputWrap {
    position: relative;
}

.inputIcon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #282846;
    opacity: .3;
}

.btn {
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #FAFAFA;
}

//breakpoints
$mobile: 630px;
$tablet: 768px;
$desk: 1200px;
$contentWidth__Desk: 1110px;

@mixin setTabletStyles {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin setMobileStyles {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin setDeskStyles {
    @media (min-width: #{$tablet+1}) {
        @content;
    }
}

@mixin setDeskStylesXL {
    @media (min-width: $desk) {
        @content;
    }
}

@include setDeskStyles {
    :root {
        --horizontalPadding: 80px;
    }
}

@include setDeskStylesXL {
    :root {
        --horizontalPadding: calc((100vw - #{$contentWidth__Desk}) / 2);
    }
}

@include setTabletStyles {
    :root {
        --horizontalPadding: 80px;
    }
}

@include setMobileStyles {
    :root {
        --horizontalPadding: 30px;
    }
}

.container {
    padding: 0 var(--horizontalPadding);
}

.active {
    background-color: #29A19C;

    &.todo-categories-category {
        border: 5px solid #29A19C;
    }
}

.calendar-day {
    flex: 1 1 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(40, 40, 70, 0.1);
    border-radius: 10px;
    padding: 5px 25px;
    min-height: 61px;
}

.todo-categories-category {
    min-height: 34px;
    border: 5px solid transparent;
}

.todo-tasks {
    flex-direction: column;
}

.todo-task-category {
    width: 100px;
    height: 10px;
}



.todo-task.done {
    text-decoration: line-through;
}

.todo-task.end {
    color: #F05454;
}

.edit-task {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.edit-task-timeAndCategory {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include setTabletStyles {
        flex-direction: column;
    }
}

.edit-task-categoriesList {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    right: 0;
    top: 100%;
    margin: 0;
    padding: 0;

    @include setTabletStyles {
        position: fixed;
        left: 50%;
        top: 50%;
        right: unset;
        transform: translate(-50%, -50%);
    }
}

.edit-task-label,
.edit-task-categories,
.edit-task-time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 100%;
    position: relative;
}

.edit-task-timeContainer {
    position: relative;

    #datepicker {
        opacity: 0;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0;
    }
}

.edit-task-btns, .edit-category-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .edit-task-cancel, .edit-category-cancel {
        background: #F05454;
    }

    .edit-task-add, .edit-category-add {
        background: #29A19C;
    }
}

.flatpickr-weekdays, .flatpickr-months {
    background-color: #29A19C !important;
}

.flatpickr-months * {
    color: #FAFAFA !important;
    fill: #FAFAFA !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: #29A19C !important;
    color: #FAFAFA !important;
    border-color: #29A19C !important;
}